
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');



.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}




/* shared styles */
.display-flex{
    display: flex;
}

.header,.plants,.plant-lover{
    margin-left: 150px;
    margin-right: 150px;
}
main{
    margin: 0 auto;
}



/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 400;
    color: (137, 135, 161, 1)
}
.nav-link1{
    color: rgba(37, 36, 50, 1);
    text-decoration: none;
    font-weight: bold;
}
.nav-link2{
    color:rgba(0, 0, 0, 1) ;
    text-decoration: none;
    font-weight: bold;
}


.banner{
    margin-top: 120px;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}
.banner > div{
    flex:1;
}
#span-list{
    font-weight: bold;
}
.text-primary{
    color: #E95A08;
}
    
.banner-title{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0px;
}
.banner-description{
    font-size: 1.375rem;
    font-weight: 500;

}
.banner-img{
    width: 100%;
}

/* plats */
.section-container{
    text-align: center;
}
.section-title{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 0px;
}
.section-description{
    font-size: 1.375rem;
    margin-bottom: 50px;
}

.plant-cards-section{
    display: grid;
    grid-template-columns: repeat(4,4fr);
    gap: 30px;
}
.plant-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plant-card img{
    width: 100%;
}
.cart-button{
    background-color: #E95A08;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
}
.plant-name{
    font-weight: 700;
    font-size: 1.375rem;
}
.plant-price{
    margin-top:0 ;
    font-weight: 700;
    font-size: 1.375rem;
}
/*Plant lover*/

.plant-lover{
    margin-top: 150px;
    flex-wrap: wrap;
}
.plant-lover-img{
    position:relative;
    flex: 1;
}
.plant-lover-first-img{
    width: 650px;

}
.trusted-badge{
   position: absolute;
   width: 190px;
   height: 190px;
   object-fit: contain;
   top:-80px;
   right: 300px;
}
.plant-lover-text{
    max-width: 540px;
}

.plant-lover-text h3{
    font-size: 3.125rem;
    font-weight: bold;
}

.plant-lover-text li{
    font-size: 1.375rem;
    font-weight: 200;
    margin-bottom: 20px;
}

.join-banner{
    background-image: url(assets/news-letter-bg.png);
    width: 100%;
    background-size: cover;
    text-align: center;
    background-position: center;
    padding: 100px;
    color:white;
    height: 300px;
    align-items: center;
}
.join-banner h2{
    font-size: 3.125rem;
    font-weight: bold;
}
.join-form{
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
}
.join-form input{
    padding: 14px 20px;
    flex: 1;
    border: none;
    font-size: 1rem;
}
.join-form button{
    background-color: #E95A08;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    padding: 0 25px;
}
.text-gray{
    color: #6B7280;
}
/*footer*/
.footer-container{
    background-color: #f5f7fb;
    padding: 40px 150px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: flex-start;
    flex-wrap: wrap;
}
.footer-center{
    display: flex;
    justify-content:space-between;
    gap:30px;
}
.footer-center ul{
    list-style: none;
}
.footer-center li{
    margin-bottom: 20px;
}
.footer-right{
    text-align: center;
    gap: 20px;
    display: flex;
    margin-top: 10px;
}
.footer-description{
    font-size: 1.375rem;
    font-weight: 400;
}
.social-icon{
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 576px){
    .hide {
    display: none;
    }
    .header{
    margin: 0 auto;
    }
    .banner{
    flex-direction: column-reverse;
    }
    .banner-img{
      width: 100%;
    }

.footer-container{
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    padding: 50px 20px;
}  


.footer-center,.footer-right{
    justify-content: flex-start;
}
.footer-center ul{
    padding: 0;      
    margin: 0;                
}
.join-banner,.join-banner h2,.join-form{
    width: 100%;
    height: auto;
}
.join-banner{
    align-items: center;
}
.join-banner h2{
    font-size: 1.5rem;
}
.join-form button{
    background-color: #E95A08;
    color: white;
    font-size: 0.7rem;
    font-weight: 700;
    border: none;
}
}












