
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');



.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}




/* shared styles */
.display-flex{
    display: flex;
}

.header,.plants{
    margin-left: 150px;
    margin-right: 150px;
}



/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 400;
    color: (137, 135, 161, 1)
}
.nav-link1{
    color: rgba(37, 36, 50, 1);
    text-decoration: none;
    font-weight: bold;
}
.nav-link2{
    color:rgba(0, 0, 0, 1) ;
    text-decoration: none;
    font-weight: bold;
}


.banner{
    margin-top: 120px;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}
.banner > div{
    flex:1;
}
#span-list{
    font-weight: bold;
}
.text-primary{
    color: #E95A08;
}
    
.banner-title{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0px;
}
.banner-description{
    font-size: 1.375rem;
    font-weight: 500;

}
.banner-img{
    width: 100%;
}

/* plats */
.section-container{
    text-align: center;
}
.section-title{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 0px;
}
.section-description{
    font-size: 1.375rem;
    margin-bottom: 50px;
}

.plant-cards-section{
    display: grid;
    grid-template-columns: repeat(4,4fr);
    gap: 30px;
}
.plant-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plant-card img{
    width: 100%;
}
.cart-button{
    background-color: #E95A08;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
}
.plant-name{
    font-weight: 700;
    font-size: 1.375rem;
}
.plant-price{
    margin-top:0 ;
    font-weight: 700;
    font-size: 1.375rem;
}


@media screen and (max-width: 576px){
      .hide {
    display: none;
  }
  .header{
    margin: 0 auto;
}
  .banner{
    flex-direction: column-reverse;
  }
  .banner-img{
      width: 100%;
  }
}











